:root {
  --d-9d-9d-9: rgba(17, 15, 94, 1);
  --dark-04: rgba(60, 72, 96, 1);
  --dark-03: rgba(77, 95, 128, 1);
  --dark-02: rgba(107, 127, 166, 1);
  --dark-01: rgba(239, 242, 246, 1);
  --purple-04: rgba(46, 63, 127, 1);
  --purple-03: rgba(60, 82, 164, 1);
  --purple-02: rgba(104, 125, 202, 1);
  --purple-01: rgba(241, 244, 255, 1);
  --yello-04: rgba(228, 147, 39, 1);
  --yello-03: rgba(252, 179, 82, 1);
  --yello-02: rgba(255, 208, 146, 1);
  --yello-01: rgba(255, 243, 228, 1);
  --darklines: rgba(239, 242, 246, 1);
  --heading-font-family: "Montserrat", Helvetica;
  --heading-font-weight: 800;
  --heading-font-size: 96px;
  --heading-letter-spacing: 0px;
  --heading-line-height: normal;
  --heading-font-style: normal;
  --paragraph-font-family: "Montserrat", Helvetica;
  --paragraph-font-weight: 400;
  --paragraph-font-size: 24px;
  --paragraph-letter-spacing: 0px;
  --paragraph-line-height: normal;
  --paragraph-font-style: normal;
  --heading-h1-desktop-font-family: "Coolvetica", Helvetica;
  --heading-h1-desktop-font-weight: 400;
  --heading-h1-desktop-font-size: 52px;
  --heading-h1-desktop-letter-spacing: 0px;
  --heading-h1-desktop-line-height: 120.00000476837158%;
  --heading-h1-desktop-font-style: normal;
  --heading-h1-mobile-font-family: "Coolvetica", Helvetica;
  --heading-h1-mobile-font-weight: 400;
  --heading-h1-mobile-font-size: 42px;
  --heading-h1-mobile-letter-spacing: 0px;
  --heading-h1-mobile-line-height: 120.00000476837158%;
  --heading-h1-mobile-font-style: normal;
  --heading-h2-desktop-font-family: "Coolvetica", Helvetica;
  --heading-h2-desktop-font-weight: 400;
  --heading-h2-desktop-font-size: 42px;
  --heading-h2-desktop-letter-spacing: 0px;
  --heading-h2-desktop-line-height: 120.00000476837158%;
  --heading-h2-desktop-font-style: normal;
  --heading-h2-mobile-font-family: "Coolvetica", Helvetica;
  --heading-h2-mobile-font-weight: 400;
  --heading-h2-mobile-font-size: 34px;
  --heading-h2-mobile-letter-spacing: 0px;
  --heading-h2-mobile-line-height: 120.00000476837158%;
  --heading-h2-mobile-font-style: normal;
  --heading-h3-desktop-font-family: "Coolvetica", Helvetica;
  --heading-h3-desktop-font-weight: 400;
  --heading-h3-desktop-font-size: 34px;
  --heading-h3-desktop-letter-spacing: 0px;
  --heading-h3-desktop-line-height: 120.00000476837158%;
  --heading-h3-desktop-font-style: normal;
  --heading-h3-mobile-font-family: "Coolvetica", Helvetica;
  --heading-h3-mobile-font-weight: 400;
  --heading-h3-mobile-font-size: 28px;
  --heading-h3-mobile-letter-spacing: 0px;
  --heading-h3-mobile-line-height: 120.00000476837158%;
  --heading-h3-mobile-font-style: normal;
  --heading-h4-desktop-font-family: "Coolvetica", Helvetica;
  --heading-h4-desktop-font-weight: 400;
  --heading-h4-desktop-font-size: 28px;
  --heading-h4-desktop-letter-spacing: 0px;
  --heading-h4-desktop-line-height: 129.99999523162842%;
  --heading-h4-desktop-font-style: normal;
  --heading-h4-mobile-font-family: "Coolvetica", Helvetica;
  --heading-h4-mobile-font-weight: 400;
  --heading-h4-mobile-font-size: 24px;
  --heading-h4-mobile-letter-spacing: 0px;
  --heading-h4-mobile-line-height: 129.99999523162842%;
  --heading-h4-mobile-font-style: normal;
  --heading-h5-desktop-font-family: "Coolvetica", Helvetica;
  --heading-h5-desktop-font-weight: 400;
  --heading-h5-desktop-font-size: 24px;
  --heading-h5-desktop-letter-spacing: 0px;
  --heading-h5-desktop-line-height: 129.99999523162842%;
  --heading-h5-desktop-font-style: normal;
  --heading-h5-mobile-font-family: "Coolvetica", Helvetica;
  --heading-h5-mobile-font-weight: 400;
  --heading-h5-mobile-font-size: 21px;
  --heading-h5-mobile-letter-spacing: 0px;
  --heading-h5-mobile-line-height: 129.99999523162842%;
  --heading-h5-mobile-font-style: normal;
  --heading-h6-desktop-font-family: "Coolvetica", Helvetica;
  --heading-h6-desktop-font-weight: 400;
  --heading-h6-desktop-font-size: 21px;
  --heading-h6-desktop-letter-spacing: 0px;
  --heading-h6-desktop-line-height: 129.99999523162842%;
  --heading-h6-desktop-font-style: normal;
  --heading-h6-mobile-font-family: "Coolvetica", Helvetica;
  --heading-h6-mobile-font-weight: 400;
  --heading-h6-mobile-font-size: 18px;
  --heading-h6-mobile-letter-spacing: 0px;
  --heading-h6-mobile-line-height: 129.99999523162842%;
  --heading-h6-mobile-font-style: normal;
  --paragraph-large-regular-dektop-font-family: "Work Sans", Helvetica;
  --paragraph-large-regular-dektop-font-weight: 400;
  --paragraph-large-regular-dektop-font-size: 18px;
  --paragraph-large-regular-dektop-letter-spacing: 0px;
  --paragraph-large-regular-dektop-line-height: 139.9999976158142%;
  --paragraph-large-regular-dektop-font-style: normal;
  --paragraph-large-regular-mobile-font-family: "Work Sans", Helvetica;
  --paragraph-large-regular-mobile-font-weight: 400;
  --paragraph-large-regular-mobile-font-size: 14px;
  --paragraph-large-regular-mobile-letter-spacing: 0px;
  --paragraph-large-regular-mobile-line-height: 139.9999976158142%;
  --paragraph-large-regular-mobile-font-style: normal;
  --paragraph-large-semibold-dektop-font-family: "Work Sans", Helvetica;
  --paragraph-large-semibold-dektop-font-weight: 600;
  --paragraph-large-semibold-dektop-font-size: 18px;
  --paragraph-large-semibold-dektop-letter-spacing: 0px;
  --paragraph-large-semibold-dektop-line-height: 139.9999976158142%;
  --paragraph-large-semibold-dektop-font-style: normal;
  --paragraph-large-semibold-mobile-font-family: "Work Sans", Helvetica;
  --paragraph-large-semibold-mobile-font-weight: 600;
  --paragraph-large-semibold-mobile-font-size: 14px;
  --paragraph-large-semibold-mobile-letter-spacing: 0px;
  --paragraph-large-semibold-mobile-line-height: 139.9999976158142%;
  --paragraph-large-semibold-mobile-font-style: normal;
  --paragraph-large-underline-dektop-font-family: "Work Sans", Helvetica;
  --paragraph-large-underline-dektop-font-weight: 400;
  --paragraph-large-underline-dektop-font-size: 18px;
  --paragraph-large-underline-dektop-letter-spacing: 0px;
  --paragraph-large-underline-dektop-line-height: 139.9999976158142%;
  --paragraph-large-underline-dektop-font-style: normal;
  --paragraph-large-underline-mobile-font-family: "Work Sans", Helvetica;
  --paragraph-large-underline-mobile-font-weight: 400;
  --paragraph-large-underline-mobile-font-size: 14px;
  --paragraph-large-underline-mobile-letter-spacing: 0px;
  --paragraph-large-underline-mobile-line-height: 139.9999976158142%;
  --paragraph-large-underline-mobile-font-style: normal;
  --paragraph-large-italics-dektop-font-family: "Work Sans", Helvetica;
  --paragraph-large-italics-dektop-font-weight: 400;
  --paragraph-large-italics-dektop-font-size: 18px;
  --paragraph-large-italics-dektop-letter-spacing: 0px;
  --paragraph-large-italics-dektop-line-height: 139.9999976158142%;
  --paragraph-large-italics-dektop-font-style: italic;
  --paragraph-large-italics-mobile-font-family: "Work Sans", Helvetica;
  --paragraph-large-italics-mobile-font-weight: 400;
  --paragraph-large-italics-mobile-font-size: 14px;
  --paragraph-large-italics-mobile-letter-spacing: 0px;
  --paragraph-large-italics-mobile-line-height: 139.9999976158142%;
  --paragraph-large-italics-mobile-font-style: italic;
  --paragraph-medium-regular-desktop-font-family: "Work Sans", Helvetica;
  --paragraph-medium-regular-desktop-font-weight: 400;
  --paragraph-medium-regular-desktop-font-size: 16px;
  --paragraph-medium-regular-desktop-letter-spacing: 0px;
  --paragraph-medium-regular-desktop-line-height: 139.9999976158142%;
  --paragraph-medium-regular-desktop-font-style: normal;
  --paragraph-medium-regular-mobile-font-family: "Work Sans", Helvetica;
  --paragraph-medium-regular-mobile-font-weight: 400;
  --paragraph-medium-regular-mobile-font-size: 12px;
  --paragraph-medium-regular-mobile-letter-spacing: 0px;
  --paragraph-medium-regular-mobile-line-height: 139.9999976158142%;
  --paragraph-medium-regular-mobile-font-style: normal;
  --paragraph-medium-semibold-desktop-font-family: "Work Sans", Helvetica;
  --paragraph-medium-semibold-desktop-font-weight: 600;
  --paragraph-medium-semibold-desktop-font-size: 16px;
  --paragraph-medium-semibold-desktop-letter-spacing: 0px;
  --paragraph-medium-semibold-desktop-line-height: 139.9999976158142%;
  --paragraph-medium-semibold-desktop-font-style: normal;
  --paragraph-medium-semibold-mobile-font-family: "Work Sans", Helvetica;
  --paragraph-medium-semibold-mobile-font-weight: 600;
  --paragraph-medium-semibold-mobile-font-size: 12px;
  --paragraph-medium-semibold-mobile-letter-spacing: 0px;
  --paragraph-medium-semibold-mobile-line-height: 139.9999976158142%;
  --paragraph-medium-semibold-mobile-font-style: normal;
  --paragraph-medium-underline-desktop-font-family: "Work Sans", Helvetica;
  --paragraph-medium-underline-desktop-font-weight: 400;
  --paragraph-medium-underline-desktop-font-size: 16px;
  --paragraph-medium-underline-desktop-letter-spacing: 0px;
  --paragraph-medium-underline-desktop-line-height: 139.9999976158142%;
  --paragraph-medium-underline-desktop-font-style: normal;
  --paragraph-medium-underline-mobile-font-family: "Work Sans", Helvetica;
  --paragraph-medium-underline-mobile-font-weight: 400;
  --paragraph-medium-underline-mobile-font-size: 12px;
  --paragraph-medium-underline-mobile-letter-spacing: 0px;
  --paragraph-medium-underline-mobile-line-height: 139.9999976158142%;
  --paragraph-medium-underline-mobile-font-style: normal;
  --paragraph-medium-italics-desktop-font-family: "Work Sans", Helvetica;
  --paragraph-medium-italics-desktop-font-weight: 400;
  --paragraph-medium-italics-desktop-font-size: 16px;
  --paragraph-medium-italics-desktop-letter-spacing: 0px;
  --paragraph-medium-italics-desktop-line-height: 139.9999976158142%;
  --paragraph-medium-italics-desktop-font-style: italic;
  --paragraph-medium-italics-mobile-font-family: "Work Sans", Helvetica;
  --paragraph-medium-italics-mobile-font-weight: 400;
  --paragraph-medium-italics-mobile-font-size: 12px;
  --paragraph-medium-italics-mobile-letter-spacing: 0px;
  --paragraph-medium-italics-mobile-line-height: 139.9999976158142%;
  --paragraph-medium-italics-mobile-font-style: italic;
  --menu-desktop-font-family: "Work Sans", Helvetica;
  --menu-desktop-font-weight: 500;
  --menu-desktop-font-size: 14px;
  --menu-desktop-letter-spacing: 0px;
  --menu-desktop-line-height: 129.99999523162842%;
  --menu-desktop-font-style: normal;
  --menu-mobile-font-family: "Work Sans", Helvetica;
  --menu-mobile-font-weight: 500;
  --menu-mobile-font-size: 14px;
  --menu-mobile-letter-spacing: 0px;
  --menu-mobile-line-height: 129.99999523162842%;
  --menu-mobile-font-style: normal;
  --paraghraph-medium-semibold-font-family: "Public Sans", Helvetica;
  --paraghraph-medium-semibold-font-weight: 700;
  --paraghraph-medium-semibold-font-size: 16px;
  --paraghraph-medium-semibold-letter-spacing: 0px;
  --paraghraph-medium-semibold-line-height: 139.9999976158142%;
  --paraghraph-medium-semibold-font-style: normal;
  --soft-tiny: 0px 2px 5px 0px rgba(0, 0, 0, 0.14);
  --large-tiny: 0px 5px 12px 0px rgba(0, 0, 0, 0.14), 0px 1px 4px 0px rgba(0, 0, 0, 0.21),
    0px 6px 14px 0px rgba(0, 0, 0, 0.28);
}
